<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1097507648944-r9pnn2oelgg7sm49deb2u2eftar00naj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1097507648944-r9pnn2oelgg7sm49deb2u2eftar00naj</string>
	<key>API_KEY</key>
	<string>AIzaSyB6DD9WC-7SsIXXLvlQKSRwnA7nKO2dycs</string>
	<key>GCM_SENDER_ID</key>
	<string>1097507648944</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-74519</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-74519.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097507648944:ios:386bfbad9e2e95b5db5275</string>
</dict>
</plist>